.icon {
  display: inline-block;
  vertical-align: middle;
  @include cover;
  &__map {
    width: 12px;
    height: 14px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGrSURBVHgBdVLBUQJBEOxdFdTXhUAIGIFnBJiB8hL04fKVojhKkSfHC3ghEYgRgBEIEUAG8hOFu7V3Tw4QmKqrup2dnp7pXoF/oR6bLoTMQGgHAg5CMYFYdP3i3XC9TsQAr+Mg8f0KrdMI0YDEBKGesiQNKa5YMsBcV3wvP4mBqtZMsXOfgDe/lFPYEZzEsw3myTPfy06lzYaizO7dfSATfinvmcacqmzOhxEbXAS42NjzQNzz10EgGn7ppmcvgi+yHo+5VkVaEPRoObttJEUHQdjlvl3IsGMbGVavMIUmq5xdHhKYYm6l2ALXbMSxb3sReyvNs2vFMaEpmkBKUnajnLPaRg855nmstOS/UXhlBG2SFEeLIS/OVyKQKcBIVZufOJqNocORX8y/xDiJDHPRhKra/ljuEQtENsu4aYmrqq1xhLd2hAUjyHqh8cp860ArGnQlBtKjARV8X3q0K9Rzu24fyN/YMr5ZzBT3dVWtvQW2OW28TnrLnNjcq+7g6LRPpQf+Q64QMxnQPHGxPrrY6m7AiZMO2VORVZjiJ5nd2nfvTnzU6qm99+3+ApJVx6xfkc2kAAAAAElFTkSuQmCC);
    margin-right: 5px;
  }
  &__arrow-down {
    width: 9px;
    height: 5px;
    margin-left: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB2SURBVHgBbc3BCYAwDAXQRBDXcBUn8ewtDiAUFD3qrXp0AkfoDG7gHIqNrdBSpf/485Ig9fMGJ9eTqA6IhAaZA+OYwM07pKhImCKGNCpr8C1aKSDBEi4u3GWPNK9TUwn02wGGzBQBsnP8vHLYJkDRWEzdQv/+AcS/Or2fr1qyAAAAAElFTkSuQmCC);
  }
  &__search {
    width: 20px;
    height: 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGtSURBVHgBtZRNUsIwGIbfpCouewN7A+sN6gnwBsLKYUVZ6oxDGUdZUlcMK/QEygnsDYQb9AjsHH6a+DUpP6Ut1FHfGcjflydvki8F/lisaMD1hiaMuQMIW/fwMSIx9r1GiJ8AFagyb0IIl4bNnBkB5rJeBE4B3W7fgmAfVLVUh6TJEhOqTMHZOZXOahHGWK13d/NaCFTOjmefGsbG5LDl3zeCzIJL5oKjqTqEvNyN2QCfBj1ISdtEiEXlwvfqUxTIfeh75LidF8u1u56ZwIAFrboHFotceeos490YX872mALCqOhOOrNDt7iWECNN4NUsEMxOgBOUFTsKkpqdA1xJ7t1qGfHkP9QlOys9Uywt7QHTPGCgm+xKpU8pK6uzY6MM0L+li1C3Jk2czNqHWJQ2DhU11ViK9wxQW49a6gwlXLc7aO+Fcbxpc/B3syL99B77NeoaJk0KlB0IKiP6GdyGIZu0oLM1JdR5u4GyfAcKaiFXtAuBZ4q5TmJS0OLPl3ZbJUcmRcUT6X3LCaJTP35JOx+SNbQQWEYpqJCd+Ely/EIqO7i8jGF0zi/4D30DLFO9M+I5lbEAAAAASUVORK5CYII=);
  }
  &__list {
    width: 17px;
    height: 20px;
    margin-right: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAZCAYAAADe1WXtAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGzSURBVHgB7VXNSgJRFP6OzpgFQtGiTYt6Ax+gxTxAQdvaWBBaq4wWQT+URCFRMC5El7ZyHbnXR+gNchcIoVEp4+jczh1/mBpQx3BVH5x7D+dcvnPudy/3AmPANE2tabaKbFU2YfvN1hbGhWm2z7tELpM5eEWDu+kRvKXTorKyYlstmewTN3gXilwcv8xo8NM+u7ODSF8qr+HFhXnU725h5PP9uPQpFMJ0NAY/6NwXv8pswUdFCKHB4hUDjAntos1CwVXQUSSsgCgCgbJ+sreMIbg52qkO243M++yJSTEanuQQ3NhwJQKraz23pMAD2hAJ1kwLsnbW+wfL8IhOkU0Eo1F0G7z3RDqtqiXDNBPEhzFzeAhpTgguOhVQcy7Sg2R2X1hYd1PSg34c06dU9YKvVtlPiHBQaxgGPutGeW4utC2LypUuUtEikjUHdhxQcjxJQ/w6W5Q3Qz/dLfXyLlL9NKbLCb+ADxOAB02d6Og7Mukomg7Dv6bf8bc0nRCpoBo/1GGMC4GlnyEFlpXi72Q9fpV9Bo38WHcJhWxmFiQSzjDJwf6nBEXgFYQaLJHSz/ZKzvAXnAPl3dl3DfYAAAAASUVORK5CYII=);
  }
}